<div style="max-width: 500px; margin: 0 auto">
  <div style="color: #333; font-size: 15px">
    <p style="font-size: 18px">Querido <b>Ricardo</b>,</p>
    <p>
      Sua presença na visita à Chácara da Mãe Luzia deixou o nosso dia mais feliz. Ter a
      sua companhia explorando conosco os encantos e os aromas do nosso santuário de
      plantas aromáticas foi um grande prazer!
    </p>
    <p>
      Cada grupo que recebemos enche nossos corações de calor e inspiração, reafirmando o
      propósito que nos motiva a cada dia.
    </p>
    <p>
      Na Chácara da Mãe Luzia, não cultivamos apenas plantas, cultivamos sonhos, cuidado e
      respeito pela Mãe Natureza. Cada broto que nasce na chácara é um testemunho da
      presença de Deus em nossas vidas e do nosso compromisso com a responsabilidade
      social, a sustentabilidade e a qualidade dos nossos produtos.
    </p>
    <p>
      Nossa jornada na busca pela excelência em produtos de aromaterapia tem como alicerce
      os valores: qualidade, inovação e transparência em nossos processos. Valores que
      você pode conferir nessa visita tão especial.
    </p>
    <p>
      Cada produto adquirido se transforma na fatia de pão para nossos irmãos em
      necessidade!
    </p>
    <p>
      Esperamos que sua visita tenha sido enriquecedora e que tenha sentido em cada brisa
      que sopra entre as plantações o carinho com que cuidamos desse espaço, uma
      verdadeira farmácia a céu aberto.
    </p>
    <p>
      Sinta-se sempre bem-vindo para retornar e continuar compartilhando conosco essa
      jornada de descobertas e conexões com a natureza.
    </p>
    <p>
      Mais uma vez, agradecemos pela sua visita e por ser parte essencial do nosso
      universo aromático.
    </p>
    <p>
      Com os mais sinceros agradecimentos,<br />
      Equipe Gota de Cura
    </p>
  </div>
  <div
    style="
      background-color: #eee;
      border-radius: 10px;
      padding: 10px;
      color: #888;
      margin-bottom: 25px;
      font-size: 14px;
    "
  >
    <p style="font-size: 18px">Veja mais:</p>
    <p>
      📷 Veja as fotos da visita:
      <a href="https://photos.app.goo.gl/sAgGo8RcpCT6sQdS7" target="_blank"
        >Gota de Cura - Visitação 16.03.24</a
      >
    </p>
    <p>
      💬 Deixe um depoimento sobre sua experiência:
      <a href="https://forms.gle/oJxGeuXHJWgv37tW6" target="_blank">Clique aqui</a>
    </p>
  </div>
  <div
    style="
      background-color: #eee;
      border-radius: 10px;
      padding: 10px;
      color: #888;
      font-size: 14px;
    "
  >
    <img
      style="width: 100px"
      src="https://ci3.googleusercontent.com/meips/ADKq_NZV_Tu4c1ixCV7OU_3q2h2j6J-G5ZV_GbTnanTpCxDjV_sCDPoKsxyKCOWyvM0eVbsSkLLipRCw1vnFzUvg_jTSF7xOTDV8dilmSR2A02wgz8l4f1oZToxDVt5t0yjto4tOVr3FNZrwt7WA9fVXKu7Cot0MJ8aYDAbgH1G3eIZDLjJCpVI_7o4cMs9AWYbEYmAdgfdGJtH0v5eKQ3P0_iCGZ_HxqR_SrQ=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/gota-de-luz.appspot.com/o/assets%2Fgift-icon.png?alt=media&amp;token=e1d9ba97-5ea1-441c-a7df-2a236cd92e4c"
      class="CToWUd a6T"
    />
    <p>
      Como agradecimento, deixaremos mais um presente para você:
      <b>UM CUPOM DE DESCONTO DE 10%</b> (por pessoa pagante)
    </p>
    <p style="font-weight: bold; background-color: #fff; padding: 10px 20px">
      VISITA-2024-346
    </p>
    <p style="font-weight: bold; background-color: #fff; padding: 10px 20px">
      VISITA-2024-347
    </p>
    <ul style="font-size: 12px; text-align: left; padding-left: 15px">
      <li>O cupom deve ser utilizado de 01/04/2024 a 30/04/2024.</li>
      <li>O cupom não é cumulativo, apenas um cupom pode ser utilizado por compra.</li>
      <li>
        Ao finalizar sua compra no site, inclua o código acima no campo "Cupom de
        desconto".
      </li>
      <li>O cupom pode ser usado apenas uma vez.</li>
      <li>
        Em caso de dúvidas, entre em contato com a gente pelo WhatsApp ou Instagram.
      </li>
    </ul>
  </div>
</div>
