@import "~react-image-gallery/styles/css/image-gallery.css";

@font-face {
  font-family: "AmpleSoft";
  src: url("/fonts/AmpleSoftPro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "AmpleSoft";
  src: url("/fonts/AmpleSoftPro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "AmpleSoft";
  src: url("/fonts/AmpleSoftPro-Bold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Amarillo";
  src: url("/fonts/Amarillo.ttf");
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: AmpleSoft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 15px;
  height: 100%;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.no-link:hover {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

*,
select {
  box-sizing: border-box;
  outline: none;
  font-family: AmpleSoft, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: #093b75;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h2.fancy-title {
  font-weight: 300;
  border-width: 1px 0;
  border-style: solid;
  text-align: center;
  padding: 15px 50px;
  line-height: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  /* overflow: hidden; */
  text-align: center;
}
.hvr-underline-from-center small {
  color: #444;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.image-gallery-swipe {
  max-height: 500px;
  overflow: hidden;
}

.is-display-print {
  display: none !important;
}

@media print {
  .is-hidden-print {
    display: none !important;
  }
  .is-display-print {
    display: inherit !important;
  }
}

.button-confirmation {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  background: rgb(241, 241, 241);
}

.button-confirmation:hover:not(:disabled):not(.inverse) {
  background: #cf8fbd;
}

.button-confirmation:disabled {
  background: rgb(212, 212, 212);
}

.button-confirmation.big {
  font-size: 1.5em;
}

.button-confirmation.inverse {
  background: none;
  color: #666;
}

.print-only {
  display: none;
}

table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

@media print {
  .print-none {
    display: none;
  }

  .print-only {
    display: flex;
  }
  .print-only-table {
    display: table-cell;
  }
}
