.questionsArea {
  details {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  summary {
    padding: 10px;
    font-size: 1.2em;
    background-color: #eee;
  }
  p {
    padding: 10px;
  }
}
