.section {
  background-color: #000;
  min-height: 100vh;
  align-items: center;
  display: flex;

  .contentArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 20px;
    .highlight {
      color: #fff;
      font-size: 1rem;
      text-align: center;
      font-weight: 300;
      font-weight: 400;
      background-color: rgba(255, 255, 255, 0.75);
      padding: 30px;
      color: #444;

      @media only screen and (min-width: 768px) {
        font-size: 1.7rem;
      }
    }
  }

  .svgLogo {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }

  &.sectionLogo {
    background: url(/images/background-init.jpg) no-repeat 50% / cover;
  }

  &.sectionProducts {
    background-color: #fff;
  }

  &.sectionDestination {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("/images/background-destination.jpg") no-repeat 20% / cover;

    p.highlight {
      color: #555;
    }

    .more {
      color: #555;
      font-size: 1.25rem;
      text-align: center;

      div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      a {
        color: #555;
        padding: 20px;
        margin: 3px;
        background: rgba(255, 255, 255, 0.2);
        transition: background-color 0.5s;
        &:hover {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  &.sectionPhotos {
    background-color: #fff;
    display: grid;
    padding: 20px;
  }

  &.sectionContact {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/images/background-contact.jpg") no-repeat center/cover;

    h2 {
      color: #fff;
      border-color: #fff;
    }
  }
}
